* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(72deg, #4682b4 1%, #335186 99%);
}

:root {
  --cor1: #4682b4;
  --cor2: #000000;
  --cor3: #090242;
  --cor4: #ffffff;
}

/* Navbar */

header {
  background-color: var(--cor1);
  box-shadow: 5px 2px 6px 2px;
}

li {
  list-style: none;
}

.navbar {
  font-family: "Rubik", sans-serif;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--cor4);
}

.nav-link {
  transition: 0.5s ease-in-out;
}

.nav-link:hover {
  color: var(--cor2);
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border: 2px;
  margin: 5px auto;
  background-color: var(--cor2);
  transition: all 0.3s ease-in-out;
}

/* Banner */

/* Sobre Nós */

.text1 {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: #fff5ee;
  text-align: center;
  padding: 25px;
}
.text-sobre {
  margin: 10px;
}
/* Footer */

footer {
  background: linear-gradient(to top, #335186 0%, #14b3e7 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 10px 50px 15px;
  font-family: "Rubik", sans-serif;
  margin-top: auto;
  border-top-left-radius: 120px;
  box-shadow: 8px 5px 12px 6px black;
}

footer a {
  text-decoration: none;
}

.medias-sociais {
  margin-bottom: 20px;
}

.medias-sociais i {
  font-size: 28px;
  border: 2px solid var(--cor4);
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.medias-sociais a {
  color: var(--cor4);
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.links a {
  color: var(--cor4);
  margin: 0 15px;
  font-size: 15px;
}

.desenvolvido {
  color: var(--cor4);
  font-size: 15px;
  margin-top: 25px;
}

.desenvolvido a {
  color: var(--cor2);
}

.line {
  background-color: var(--cor4);
  width: 20px;
  height: 6px;
  margin-top: 2px;
  border-radius: 40px;
  position: relative;
  animation: underline-animation 4s linear infinite;
}

@keyframes underline-animation {
  0% {
    left: -231px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    left: 229px;
    opacity: 0;
  }
}
